@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');

body {
    background-attachment: fixed;
    background-image: url(./images/flat-lay.jpg);
    background-position: center;
    background-size: cover;
    font-size: 12px;
    margin-top: 15px;
}

.header-wrapper {
    background-color: #F1ECE6;
    border: 3px solid #011420;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin: auto;
    width: 90%;
}

.bookmark-wrapper {
    background-color: #F1ECE6;
    border: 3px solid #011420;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin: auto;
    width: 90%;
}

.header-group {
    background-color: #FFF;
    border: 2px solid #011420;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    width: 90%;
}

.bookmark-group {
    background-color: #FFF;
    border: 2px solid #011420;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
}

.error-group {
    background-color: #FFF;
    border: 2px dashed #011420;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
}

.bookmark-group-column {
    /* border-radius: 3px; */
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
}

.control-group-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    width: 90%;
}

.bookmark-group-row {
    border-radius: 3px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.item {
    flex: 1;
}

.item-shrink-left {
    flex-shrink: 10;
    text-align: left;
}

.align-self {
    align-self: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    margin: 2px;
    text-align: center;
}

a {
    color: #011420;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #F1ECE6;
    border: 2px solid #011420;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    padding: 5px;

}

button:hover {
    background-color: #011420;
    color: #F1ECE6;
}

img {
    width: 10px;
}

label, input, select, textarea {
    font-family: 'Playfair Display', serif;
    margin: 2px;
}

.error {
    border: 2px dashed #C70039;
    border-radius: 5px;
    color: #c70039; 
}

.white {
    background-color: #FFF;
}

footer div.group {
    background-color :#0E1A46;
    border: 1px solid bisque;
    color: bisque;
}

@media all and (min-width: 1200px) {

    body {
        margin-top: 20px;
        font-size: 16px;
    }

    .header-wrapper, .bookmark-wrapper {
        margin: auto;
        width: 50%;
    }

    .item {
        flex: 1;
        /* border: 1px solid yellow; */
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
        margin: 5px;
    }

    button {
        font-size: 14px;
    }

    img {
        width: 15px;
    }

    label, input, select, textarea {
        margin: 5px;
    }
}